# Build outputs
*.class
build/

# Distribution files
dist/*.jar
dist/*.zip

# Gradle files
.gradle/

# Log files
*.log
hs_err_pid*

# BlueJ files
*.ctxt
doc/

# Eclipse files
.classpath
.project
.settings/

# Greenfoot files
*.greenfoot

# IntelliJ Files
.idea/

# macOS files
*.DS_store
